/*
 * background colour: #47AFAF
 * second background colour: #60DFDF
 * section colour: #E3DEC1
 * article colour: #E89F65
 * border cololur: #B94629
 */

body{
font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
background-color: #47AFAF;
}

#accordion > div{
	background-color: #60DFDF;
}

.section {
	background-color: #E3DEC1;
	box-sizing: border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
	border: solid 3px #B94629;
	margin: 1ex;
	float: left;
}

#newslettercontent {
	overflow: hidden;
	clear: both;
}

p, h1, form {border:0; margin:0; padding:0;}

.spacer {
	clear:both;
	height:1px;
}

#rightPanel {
	width: 35%;
}

#leftPanel {
	width: 60%;
}

.left {
	float: left;
}

.right {
	float: right;
}


h1 {
	font-size:20px;
	font-weight:bold;
	
}


fieldset {
	border: solid 2px #B94629;
	background-color: #E89F65;
	margin: 10px 40px;
	padding: 10px;
}

fieldset legend {
	font-weight: bold;
	color: #B94629;
}
/*
fieldset div {
	clear: both;
} 
*/
/* form h1 {
	font-size:14px;
	font-weight:bold;
	margin-bottom:8px;
} */

fieldset p{
	font-size:11px;
	color:#666666;
	margin-bottom:20px;
	border-bottom:solid 1px #b7ddf2;
	padding-bottom:10px;
}

label{
	display:inline-block;
	/*width:12em;*/
	font-weight:bold;
	text-align:right;
}

.small{
	color:#666666;
	font-size:11px;
	font-weight:normal;
	text-align:right;
}

input{
	font-size:12px;
	/*vertical-align:top;*/
	padding:4px 2px;
	border:solid 1px #aacfe4;
	margin:2px 0 5px 10px;
}

input.articleTitle{
	margin:2px 0 20px 10px;
}

input.error{
	background-color: red;
}

/*
button{
margin-left:150px;
width:125px;
height:31px;
background:#666666 url(image/button.png) no-repeat;
text-align:center;
line-height:31px;
color:#FFFFFF;
font-size:11px;
font-weight:bold;
}
*/
/*
 * button handling now done by jQuery-UI
button, input.button {
 
	/*basic styles*
	width: 150px;
	height: 24px;
	margin: 2px;
	/*color: #fff;*
	background-color: #24A2FF;
	text-align: center;
	/*font-size: 20px;*
	line-height: 24px;
 
 
	/*gradient styles*
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #c0d0fb), color-stop(.5, #fbfbfb), color-stop(.51, #c0d0fb), to(#a0b5f0));
	background: -moz-linear-gradient(top, #c0d0fb, #fbfbfb 50%, #c0d0fb 51%, #a0b5f0);  
 
	/*border styles*
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
 
	-moz-box-shadow:inset 0 0 2px #000000;
	-webkit-box-shadow:inset 0 0 2px #000000;
	box-shadow:inset 0 0 2px #000000;
}

button:hover, button.hover, input.button:hover, input.button.hover {
	-moz-box-shadow:inset 0 0 5px #000000;
	-webkit-box-shadow:inset 0 0 5px #000000;
	box-shadow:inset 0 0 5px #000000;
}
*/

#logo, #mugshot {
	margin-right: 1em;
}

.moveable {
	position: relative;
}

div.controls {
	position: absolute;
	top: 0;
	right: 0;
	opacity: 0.6;
	background-color: #ebf4fb;
	border-width: 1px;
	border-style: dashed;
	border-color: #b7ddf2;
	margin: 1px;
	padding: 2px;
}
div.controls:hover {
	opacity: 1;
}

/*
.controls img {
	width: 20px;
	height: 20px;
}

.controls img:hover {
	cursor: pointer;
}
*/

tr.sending {
	background-color: #b7ddf2;
}

/* we want the file input to lok just like a normal button */
/* to do this we overlay it on a normal button then make it completely transparent */
div.sneaky-file-input {
	position: relative; /* so we can have absolute positioning inside it */
}
div.sneaky-file-input button {
	z-index: 1;
}div.sneaky-file-input input {
	z-index: 2;
	position: absolute;
	left: 0;
	top: 0;
	/* match the button size */
	width: 150px;
	height: 24px;
	padding: 0;
	margin: 2px;
	border-width: 0;
	opacity: 0;
}
